* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --past: #d3d3d3;
    --future: #77DD77;
    --present: #ff6961;
    --save: #06aed5;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}

/* Header */
header {
    text-align: center;
    padding: 50px;
    border-bottom: 10px solid black;
    margin-bottom: 50px;
}

/* Timeblock */
.time {
    border-top: 1px solid var(--past);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}

.past {
    background-color: var(--past);
    border-top: 1px solid white;
    border-radius: 0;
    height: 60px;
}

.past:focus {
    background-color: var(--past);
}

.past:disabled {
    background-color: var(--past);
}

.present, .present:focus {
    background-color: var(--present) !important;
    border-top: 1px solid white;
    border-radius: 0;
    height: 60px;
}

.future, .future:focus {
    background-color: var(--future) !important;
    border-top: 1px solid white;
    border-radius: 0;
    height: 60px;
}

.save-btn {
    border-radius: 0px 10px 10px 0px;
    height: 60px;
    border-top: 1px solid white;
    background-color: var(--save);
    display: flex;
    justify-content: center;
    align-items: center;
}

.save-btn:disabled {
    background-color: #94daea;
}

.fa-floppy-disk {
    font-size: 20px;
    color: white;
}

form {
    margin-bottom: 50px;
}